{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "no-unused-vars": ["error", {"argsIgnorePattern": "_"}],
    "sort-vars": "error"
  }
}
